venv/
env/
__pycache__/
*.pyc
instance/
instance/*
*.sqlite3
*.db
*.env
/.vscode/
.pytest_cache/
.DS_Store
.idea/
app/static/uploads/
images/*.jpg
images/*.png
images/*.jpeg
images/*.gif
node_modules/
dist/
build/
coverage/